# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.eggs/
*.egg

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
dist/
build/
*.whl
*.tar.gz
*.zip

# Django
*.log
*.pot
*.pyc
*.sqlite3
*.db
*.DS_Store
*.swp
*.swo
*.sqlite3
media/
staticfiles/
static/
uploads/
local_settings.py

# IDEs
# Visual Studio Code
.vscode/
*.code-workspace

# JetBrains (PyCharm, IntelliJ)
.idea/
*.iml

# Jupyter Notebook
.ipynb_checkpoints

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Coverage reports
coverage/
*.cover
*.coverage
*.hypothesis/
.coverage.*
.cache

# Other
*.bak
*.orig
*.swp
*.swo
*.tmp
*.temp
*.pid
*.seed
*.log

# Environment variables
.env
.env.*
